@import "tailwindcss";
@plugin "daisyui"{
    themes: all;
}
@plugin "daisyui/theme" {
  name: "warhammer-theme";
  default: false;
  prefersdark: false;
  color-scheme: "dark";
  --color-base-100: oklch(12% 0.042 264.695);
  --color-base-200: oklch(27% 0.033 256.848);
  --color-base-300: oklch(20% 0.042 265.755);
  --color-base-content: oklch(76% 0.177 163.223);
  --color-primary: oklch(79% 0.209 151.711);
  --color-primary-content: oklch(0% 0 0);
  --color-secondary: oklch(42% 0.199 265.638);
  --color-secondary-content: oklch(13.955% 0.027 168.327);
  --color-accent: oklch(84% 0.143 164.978);
  --color-accent-content: oklch(14.125% 0.023 185.713);
  --color-neutral: oklch(30.698% 0.039 171.364);
  --color-neutral-content: oklch(86.139% 0.007 171.364);
  --color-info: oklch(72.06% 0.191 231.6);
  --color-info-content: oklch(0% 0 0);
  --color-success: oklch(44% 0.119 151.328);
  --color-success-content: oklch(0% 0 0);
  --color-warning: oklch(84.71% 0.199 83.87);
  --color-warning-content: oklch(0% 0 0);
  --color-error: oklch(71.76% 0.221 22.18);
  --color-error-content: oklch(0% 0 0);
  --radius-selector: 2rem;
  --radius-field: 0.25rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.21875rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}
